{%load static %}
<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS y otros -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="{% static 'css/gijgo.min.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/gijgo.min.js' %}" type="text/javascript"></script>

    <title>{% block title %}Base{% endblock %}</title>
</head>

<body>

    <div class="container bg-light">

        <header>

            <div class="row justify-content-center">

                <a href="{% url 'index' %}">
                    <div class="col1-12 pt-2">

                        <img src="{% static 'img/logo_cancha.png' %}" alt="" class="img-fluid rounded" id="logo-l">

                    </div>
                    <div class="col-12">

                        <img src="{% static 'img/logo_ctu.jpg' %}" alt="" class="img-fluid" id="logo-s">

                    </div>
                </a>
            </div>


            <div class="row">

                <div class="col-12">
                    <nav class="navbar col-12 navbar-expand-md border bg-dark navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="navbar-nav col-12 justify-content-around p-0 m-0">
                                <li class="nav-item col-12 col-md-3  text-center dropdown">
                                    <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">Usuario del
                                        Sistema</a>
                                    <div class="dropdown-menu">
                                        {% if user.is_authenticated %}
                                        <p class="text-center">Usuario {{ user.username }}</p>
                                        <a href="#" class="dropdown-item text-center">Perfil</a>
                                        <a href="{% url 'logout' %}" class="dropdown-item text-center">Salir</a>
                                        {% if user.is_superuser or user.is_staff %}
                                        <!--accesos solo a los usuarios del tipo admin-->
                                        <a href="{% url 'signup' %}" class="dropdown-item text-center">Crear nuevo
                                            usuario</a>
                                        {% endif %}
                                        {% else %}
                                        <p class="text-center">Sesión no iniciada</p>
                                        <a href="{% url 'login' %}" class="dropdown-item text-center">Ingresar</a>
                                        {% endif %}
                                    </div>
                                </li>
                                <li class="nav-item col-12 col-md-3  text-center dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Socios</a>
                                    <div class="dropdown-menu">
                                        <a href="#" class="dropdown-item text-center">Registrar Solicitud</a>
                                        <a href="#" class="dropdown-item text-center">Solicitudes pendientes</a>
                                        <a href="{% url 'listar_socios' %}" class="dropdown-item text-center">Listado de socios</a>
                                    </div>
                                </li>
                                <li class="nav-item col-12 col-md-3  text-center dropdown">
                                    <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">Operaciones</a>
                                    <div class="dropdown-menu">
                                        <a href="#" class="dropdown-item text-center">Registro de pago</a>
                                        <a href="#" class="dropdown-item text-center">Comprobante de ingresos</a>
                                        <a href="#" class="dropdown-item text-center">Comprobante de egreso</a>
                                    </div>
                                </li>
                                <li class="nav-item col-12 col-md-3  text-center dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Informes y
                                        actas</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'actas' %}" class="dropdown-item text-center">Actas</a>
                                        <a href="#" class="dropdown-item text-center">Informe de ingresos</a>
                                        <a href="#" class="dropdown-item text-center">Informe de egresos</a>
                                        <a href="#" class="dropdown-item text-center">Informe de cheques</a>
                                        <a href="#" class="dropdown-item text-center">Cuadraturas</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

        </header>
    </div>
    <!--Fin del container-->



    <div class="container bg-light">



        {% block content %}
        {% endblock %}


        <br>
        <br>


        <footer class="bg-secondary">
            Nicolas smimoy
        </footer>



    </div>
    <!--Fin del container-->

    <script>
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '-100:+0',
            maxDate: 0,
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        });
    </script>

    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>