{% extends 'base/base.html' %}


{% block seccion %}
<div class="row justify-content-center bg-info">

    <div class="row col-10 justify-content-between m-2" style="background-color:red">
        <div class="col-12 col-md-5 align-items-center" style="background-color:aquamarine">
            <div class="border">
                <label class="">Nombre completo:</label>
            </div>
        </div>
        <div class="col-12 col-md-5" style="background-color:brown">
            <input type="text" name="nombCompSoc" class="form-control">
        </div>
    </div>

    <br>
    <br>

    <div class="row col-10 justify-content-between m-2" style="background-color:red">
        <div class="col-12 col-md-5 align-items-center" style="background-color:aquamarine">
            <div class="border">
                <label class="">Rut:</label>
            </div>
        </div>
        <div class="col-12 col-md-5 " style="background-color:brown">
            <input type="text" name="rutSoc" class="form-control">
        </div>
    </div>

    <div class="row col-10 justify-content-between m-2" style="background-color:red">
        <div class="col-12 col-md-5 align-items-center" style="background-color:aquamarine">
            <div class="border">
                <label class="">Domicilio:</label>
            </div>
        </div>
        <div class="col-12 col-md-5 " style="background-color:brown">
            <input type="text" name="domicSoc" class="form-control">
        </div>
    </div>

    <div class="row col-10 justify-content-between m-2" style="background-color:red">
        <div class="col-12 col-md-5 align-items-center" style="background-color:aquamarine">
            <div class="border">
                <label class="">Fecha de nacimiento:</label>
            </div>
        </div>
        <div class="col-12 col-md-5 " style="background-color:brown">
            <input name="fecNacSoc" class="datepicker form-control" placeholder="dd/mm/aaaa">
        </div>
    </div>


</div>
{% endblock %}