{% extends 'base/base.html' %}

{% block title %}Socios{% endblock %}

{% block content %}
<!--
{% if user.is_superuser or user.is_staff or is_operative %}

<br>

<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <a href="{% url 'nueva_acta' %}" class="btn-outline-dark btn form-control">Ingresar nueva acta</a>
    </div>
</div>

{% endif %}
-->
{% if socios %}

<br>

<div class="row justify-content-center">
    <div class="col-12 col-md-12 m-0 p-0">
        <div style="width: 100%; height: 600px; overflow-y: scroll; overflow-x: scroll;">

            <table class="table table-hover">
                <tr>
                    <td>Foto solicitante</td>
                    <td>Rut socio</td>
                    <td>Nombre completo</td>
                    <td>Fecha solicitud</td>
                    <td>Estado</td>
                </tr>

                {% for socio in socios %}
                <tr>

                    <td> <img src="/static/{{ socio.fotoSoc }}" height="200px" alt=""> </td>
                    <td> <a href="#">{{ socio.rutSoc }}</a></td>
                    <td>{{ socio.nombCompSoc }}</td>
                    <td>{{ socio.fecSolic }}</td>
                    {% if socio.estSolic == 'p' %}
                    <td class="text-success">Pendiente</td>
                    {% elif socio.estSolic == 'r' %}
                    <td class="text-danger">Rechazado</td>
                    {% endif %}
                </tr>

                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% else %}

<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <h3>No se encontraron socios.</h3>
    </div>
</div>

{% endif %}


{% endblock %}