{% extends 'base/base.html' %}



{% block content %}

{% if user.is_superuser or user.is_staff or is_operative %}


<div class="row col-12 m-0 p-0 justify-content-center">
    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <br>

        <div class="row justify-content-center align-items-center" style="height:200px">
            <div class="col-12 col-md-1">
                <label for="">Foto:</label>
            </div>
            <div class="col-4">
                {{ form.fotoSoc }}
            </div>
            <div id="preview" class="col-12 col-md-5" style="height:200px;"></div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Nombre completo postulante:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.nombCompSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Rut:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.rutSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Domicilio:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.domicSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Fecha de nacimiento:</label>
            </div>
            <div class="col-12 col-md-5">
                {{form.fecNacSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Correo electronico:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.email }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Celular:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.celSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Telefono:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.telSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Profeción:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.profecSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Lugar de trabajo:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.trabSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Edad:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.edadSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Nacionalida:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.nacionalidadSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Estado civil:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.estCivSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Conyuge:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.conySoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Cantidad de hijos menores:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.numHijMenSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Otros clubs de tenis a los que pertenece o pertenecio:</label>
            </div>
            <div class="col-12 col-md-5">
                {{form.poctSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Otros clubs sociales a los que pertenece o pertenecio:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.ocsSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Catgoría tenistica:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.catTenSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Socio patrocinador:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.socPatr }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-4">
                <label for="">Otros socios que conocen al postulante:</label>
            </div>
            <div class="col-12 col-md-3">
                {{ form.primSocFe }}
            </div>
            <div class="col-12 col-md-3">
                {{ form.secSocFe }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Cuota de incorporación:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.cuotInc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Cuota social:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.cuotSoc }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Total cancelado:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.totPag }}
            </div>
        </div>

        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-3">
                <label for="">Forma de pago:</label>
            </div>
            <div class="col-12 col-md-4">
                {{ form.formPaInsc }}

            </div>
        </div>

        <br>

        {% if form.estSolic %}

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Numero de casillero:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.numCas }}
            </div>
        </div>

        <br>

        {% if form.estSolic != 'a' %}
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Estado de solicitud:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.estSolic }}
            </div>
        </div>

        <br>

        {% else %}

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">tipo de socio:</label>
            </div>
            <div class="col-12 col-md-5">
                {{ form.tipoSoc }}
            </div>
        </div>

        <br>
        
        {% endif %}

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <label for="">Informe final resultado de solicitud:</label>
            </div>
            <div class="col-12 col-md-5" style="height:300px">
                {{ form.infSolic }}
            </div>
        </div>

        {% endif %}

        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <button type="submit" class="btn btn-outline-dark form-control">Guardar</button>
            </div>
        </div>
    </form>
</div>




{% else %}
<div class="row">
    <div class="col" style="height:600px">
        <h2>Lo sentimos, no tienes autorización para esta seccion.</h2>
    </div>
</div>

{% endif %}

<br>

{% if form.estSolic == 'a' %}
<div class="row justify-content-center">
    <div class="col-12 col-md-12">
        <a href="{% url 'listar_socios' %}" class="btn btn-outline-dark form-control">Volver</a>
    </div>
</div>
{% else %}
<div class="row justify-content-center">
    <div class="col-12 col-md-12">
        <a href="{% url 'listar_solicitudes' %}" class="btn btn-outline-dark form-control">Volver</a>
    </div>
</div>
{% endif %}

{% endblock %}