{% extends 'base/base.html' %}
{% load static %}


{% block extracss %}

<link rel="stylesheet" href="{% static 'css/tempusdominus-bootstrap-4.min.css' %}">
{% endblock %}

{% block seccion %}
<div class="row col-10 justify-content-center align-items-center" style="background-color:aqua">
    <form method="POST">

        {% csrf_token %}
        <!--{{ form.as_p}}-->
        <div class="foto">
            {{ form.fotoSoc }}
        </div>

        <div class="row justify-content-between border align-items-center">
            <div class="">
                <label for="">Nombre completo postulante:</label>
            </div>
            <div>
                <input type="text" name="nombCompSoc" size="40">
            </div>
        </div>


        <div class="row justify-content-between border align-items-center">
            <div>
                <label for="">Rut:</label>
            </div>
            <div>
                <input type="text" name="rutSoc">
            </div>
        </div>

        <div class="row justify-content-between border align-items-center">
            <div>
                <label for="">Domicilio:</label>
            </div>
            <div>
                <input type="text" name="domicSoc" size="40">
            </div>
        </div>


        <div class="row justify-content-between border align-items-center">
            <div class="fecNac">
                <label for="">Fecha de nacimiento:</label>
                <input name="fecNacSoc" class="datepicker" placeholder="dd/mm/aaaa">
            </div>
        </div>

        <div class="row justify-content-between border align-items-center">
            <div class="e-mail">
                <label for="">Correo electronico:</label>
                <input type="email" name="mailSoc" id="">
            </div>
        </div>

        <div class="row justify-content-between border align-items-center">
            <div class="cel">
                <label for="">Celular:</label>
                <input type="text" name="celSoc" placeholder="+5691111111">
            </div>
        </div>

        <div class="row justify-content-between border align-items-center">
            <div class="tel">
                <label for="">Telefono:</label>
                <input type="text" name="telSoc" placeholder="322111111">
            </div>
        </div>

        <div class="row justify-content-between border align-items-center">
            <div class="prof">
                <label for="">Profeción:</label>
                <input type="text" name="profecSoc" placeholder="Vendedor">
            </div>
            <div class="trab">
                <label for="">Lugar de trabajo:</label>
                <input type="text" name="trabSoc">
            </div>
        </div>

        <div class="row justify-content-between border align-items-center">
            <div class="eda">
                <label for="">Edad:</label>
                <input type="number" name="edadSoc" min="1">
            </div>
        </div>

        <div class="row justify-content-between border align-items-center">
            <div class="nac">
                <label for="">Nacionalida:</label>
                <input type="text" name="nacionalidadSoc">
            </div>
        </div>

        <div class="row justify-content-between border align-items-center">
            <div class="estciv">
                <label for="">Estado civil:</label>
                <select name="estCivSoc" id="">
                    <option value="slt">Soltero</option>
                    <option value="csd">Casado</option>
                    <option value="dvr">Divorciado</option>
                    <option value="vdo">Viudo</option>
                </select>
            </div>
        </div>

        <div class="row justify-content-between border align-items-center">
            <div class="cony">
                <label for="">Conyuge:</label>
                <input type="text" name="conySoc">
            </div>

            <div class="row justify-content-between border align-items-center">
                <div class="hijos">
                    <label for="">Cantidad de hijos menores:</label>
                    <select name="numHijMenSoc">
                        <option value="0" selected="selected">Ninguno</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
            </div>

            <div class="row justify-content-between border align-items-center">
                <div class="pertct">
                    <label for="">Otros clubs de tenis a los que pertenece o pertenecio:</label>
                    <input type="text" name="poctSoc">
                </div>
            </div>

            <div class="row justify-content-between border align-items-center">
                <div class="pertocs">
                    <label for="">Otros clubs sociales a los que pertenece o pertenecio:</label>
                    <input type="text" name="ocsSoc">
                </div>
            </div>

            <div class="row justify-content-between border align-items-center">
                <div class="categ">
                    <label for="">Catgoría tenistica:</label>
                    <input type="text" name="catTenSoc" id="">
                </div>
            </div>

            <div class="row justify-content-between border align-items-center">
                <div class="cuotinc">
                    <label for="">Cuota de incorporación:</label>
                    <input type="number" id="cuotInc" name="cuotInc" min="0" class="monto" onchange="sumar();">
                </div>
            </div>

            <div class="row justify-content-between border align-items-center">
                <div class="cuotsoc">
                    <label for="">Cuota social:</label>
                    <input type="number" id="cuotSoc" name="cuotSoc" min="0" class="monto" onchange="sumar();">
                </div>
            </div>

            <div class="row justify-content-between border align-items-center">
                <div class="totalsolic">
                    <label for="">Total cancelado:</label>
                    <span name="totPag" id="spTotal"></span>
                </div>
            </div>

            <div class="row justify-content-between border align-items-center">
                <div class="formpago">
                    <label for="">Forma de pago</label>
                    {{ form.formPaInsc }}
                    <button type="submit" id="btnCheque" disabled="disabled"></button>
                </div>
            </div>



            <div class="boton">
                <button type="submit">Guardar</button>
            </div>

    </form>
</div>

<div>
    <div>
        <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4" />
            <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4"/>
                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({
                    format: 'L'
                });
            });
        </script>
    </div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker({
            format: 'L'
        });
    });
</script>

<script>
    $(".datepicker").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: '-100:+0',
        maxDate: 0,
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
    });
</script>
<script>
    if ('#id_formPaInsc' == "Cheque") {

    }

</script>

<script src="{% static 'js/tempusdominus-bootstrap-4.min.js' %}"></script>

{% endblock %}

