{% extends 'base/base.html' %}

{% block title %}Ingreso de actas{% endblock %}


{% block content %}

<div class="row justify-content-center">
        <h2>Registro de actas</h2>
</div>
<br>

{% if user.is_superuser or user.is_staff or is_operative %}

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <!--{{ form.as_p }}-->

    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <label for="id_fechaActa">Fecha de reunión:</label>
        </div>
        <div class="col-12 col-md-4">
            <input type="text" name="fechaActa" required id="id_fechaActa" class="form-control">
        </div>
    </div>

    <br>

    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <label for="id_numActa">Número de acta:</label>
        </div>
        <div class="col-12 col-md-4">
            <input type="number" name="numActa" required id="id_numActa" class="form-control">
        </div>
    </div>

    <br>

    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <label for="id_copActa">Copia del acta:</label>
        </div>
        <div class="col-12 col-md-4">
            <input type="file" name="copActa" id="id_copActa">
        </div>
    </div>

    <br>
    <br>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <button type="submit" class="btn btn-block btn-outline-dark">Guardar</button>
        </div>
    </div>
</form>
{% else %}
<div class="row">
    <div class="col">
        <h2>Lo sentimos, no tienes autorización para esta seccion.</h2>
    </div>
</div>

{% endif %}


{% endblock %}